.typography {
  color: var(--color);
  word-break: break-word;
}

.typography h1 {
  font-size: 24px;
  font-weight: 700;
}

.typography h2 {
  font-size: 20px;
  font-weight: 500;
}

.typography h3 {
  font-size: 18px;
  font-weight: 500;
}

.typography p {
  font-size: 16px;
  font-weight: 400;
}
