@value m-small from "~ui/assets/styles/breakpoints.module.css";

.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: center;
}
