:root {
  --background: #f1f1f1;
  --color: #424242;

  --white: #ffffff;

  --primary: #4f86c6;
  --primary-light: #609ce0;
  --primary-dark: #4779b8;
  --primary-darker: #3f6caa;
  --primary-text: #ffffff;

  --navbar: #e2e2e2;
  --footer: #afafaf;

  --border: #ff9800;
  --outline: #ffc107;

  --input: #ffffff;
  --input-focus: #ffffff;

  --disabled: #cbcecb;
  --disabled-text: #a7a7a7;
}

[data-theme="dark"] {
  --background: #11344a;
  --color: #f1f1f1;

  --navbar: #5b1667;
  --footer: #102029;

  --border: #607d8b;
  --outline: #9c27b0;

  --input: #2f528e;
  --input-focus: #234279;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
